@media screen and (max-width: 900px) {

  #filmPage {
    display: flex !important;
    flex-direction: column;
  }
}

#signWindow,
#registerWindow,
#addFilmWindow {
  max-width: 400px;
  border: 1px solid gray;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
}

#signUp,
#register,
#signUpFromRegister,
#clearRegister,
#addFilmInPage,
#clearAddFilmInput {
  width: calc(100% - 20px);
}

#addFilm {
  width: 36px;
  height: 36px;
  display: inline;
  margin-bottom: -14px;
  margin-left: 15px;
}



.flex{
  display: flex;
  align-items: center;
  gap: 10px;
}