body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.inputError {
  box-shadow: 0px 0px 3px 0px rgb(255 0 0 / 50%) inset;
}
.panginationActive {
  background-color: rgb(30, 0, 255);
  margin: 0 20px;
  color: white;
}
.panginationDef {
  background-color: rgb(176, 166, 255);
  margin: 0 20px;
}
/*
предзагрузка
https://freefrontend.com/css-spinners/
https://codepen.io/chris22smith/pen/gOpdmma
*/

.loader {
  animation: spin 1s infinite linear;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #09f;
  border-top-color: #09f;
  box-sizing: border-box;
  height: 20vmin;
  left: calc(50% - 10vmin);
  position: fixed;
  top: calc(50% - 10vmin);
  width: 20vmin;
  z-index: 1;
}

.loader:before {
  animation: spin 2s infinite linear;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #3cf;
  border-top-color: #3cf;
  box-sizing: border-box;
  content: "";
  height: 16vmin;
  left: 0;
  position: absolute;
  top: 0;
  width: 16vmin;
}

.loader:after {
  animation: spin 3s infinite linear;
  border: solid 2vmin transparent;
  border-radius: 50%;
  border-right-color: #6ff;
  border-top-color: #6ff;
  box-sizing: border-box;
  content: "";
  height: 12vmin;
  left: 2vmin;
  position: absolute;
  top: 2vmin;
  width: 12vmin;
}

@keyframes spin {
  100% {
    transform: rotate(360deg);
  }
}

button {
  background: #333;
  color: #ccc;
  width: 150px;
  height: 30px;
  border: 0;
  font-size: 18px;
  border-radius: 4px;
  font-family: "Raleway", sans-serif;
  transition: 0.6s;
  overflow: hidden;
  margin-left: 10px;
  margin-right: 10px;
}

button:focus {
  outline: 0;
}

button:hover {
  background: rgb(30, 0, 255);
  cursor: pointer;
}

button:hover:before {
  transform: translateX(300px) skewX(-15deg);
  opacity: 0.6;
  transition: 0.7s;
}

button:hover:after {
  transform: translateX(300px) skewX(-15deg);
  opacity: 1;
  transition: 0.7s;
}
* {
  box-sizing: border-box;
  color: #fff;
}

body {
  background: #252830;
}

#root {
  max-width: 900px;
  margin: 0 auto;
}

header img {
  width: 40px;
  height: auto;
}

header {
  margin: 10px 0;
  display: flex;
  justify-content: space-between;
}

#film {
  margin: 10px 0;
}

#panginationDiv {
  display: flex;
  justify-content: center;
}

.panginationActive {
  background-color: rgb(30, 0, 255);
  margin: 0 20px;
}

#film {
  min-height: 100vh;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-gap: 10px;
}

@media screen and (max-width: 900px) {
  #film {
    min-height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 10px;
  }
  #filmPage {
    display: flex !important;
    flex-direction: column;
  }
}

#film img {
  width: 100%;
  height: auto;
  margin: 0 auto;
}

#signWindow,
#registerWindow,
#addFilmWindow {
  max-width: 400px;
  border: 1px solid gray;
  margin: 0 auto;
  display: grid;
  grid-gap: 10px;
}

input {
  width: 100%;
}

#signUp,
#register,
#signUpFromRegister,
#clearRegister,
#addFilmInPage,
#clearAddFilmInput {
  width: calc(100% - 20px);
}

.inputError {
  box-shadow: 0px 0px 3px 0px rgba(255, 0, 0, 0.5) inset;
}

#addFilm {
  width: 36px;
  height: 36px;
  display: inline;
  margin-bottom: -14px;
  margin-left: 15px;
}

.delite,
.change {
  width: calc(100% - 20px);
  margin-bottom: 5px;
}

#filter {
  display: inline;
}

input[type='checkbox'] {
  width: 20px;
}

#selectGenre {
  display: flex;
  flex-direction: column;
  /*border: 1px solid aqua;*/
}

label {
  display: block;
}

textarea {
  width: 100%;
}

#filmPage {
  display: grid;
  grid-template-columns: 300px 1fr;
}

#filmPage img {
  width: 100%;
  padding-right: 15px;
}


/*
card
.cardFilm p:first-child {
    position: relative;
    right: 0px;
    top: 50px;
    align-items: center;
    color: white;
    text-align: center;
    display: none;
    margin: 0;
    padding: 0;
}
*/

.cardFilm p:first-child {
  text-align: center;
}

.cardFilm p:nth-child(1) {
  height: 36px;
}

.cardFilm p:nth-child(3) {
  position: relative;
  right: 0px;
  top: -50px;
  align-items: center;
  color: white;
  text-align: center;
  display: none;
  margin: 0;
  padding: 0;
  height: 0px;
}

.cardFilm:hover p {
  display: block;
}
input,
textarea,
select {
  font-size: 14px;
  font-weight: 400;
  text-shadow: 0 1px 0 rgba(4, 58, 255, 0.8);
  padding: 10px 18px 10px 10px;
  /* Styles */
  border: none;
  /* Remove the default border */
  box-shadow: inset 0 0 5px rgba(0, 0, 0, 0.1), inset 0 3px 2px rgba(0, 0, 0, 0.1);
  border-radius: 3px;
  background: #333;
  color: rgb(255, 255, 255);
  transition: color 0.3s ease-out;
  margin-bottom: 10px;
}
.flex{
  display: flex;
  align-items: center;
  gap: 10px;
}
.actionButton{
  width: calc(100% - 20px);
  margin-bottom: 5px;
}
.genres{border: 1px solid white;}