body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.inputError {
  box-shadow: 0px 0px 3px 0px rgb(255 0 0 / 50%) inset;
}
.panginationActive {
  background-color: rgb(30, 0, 255);
  margin: 0 20px;
  color: white;
}
.panginationDef {
  background-color: rgb(176, 166, 255);
  margin: 0 20px;
}